:root {
  --white: hsl(0, 0%, 100%);
  --lightgray: hsl(212, 45%, 89%);
  --grayishblue: hsl(220, 15%, 55%);
  --darkblue: hsl(218, 44%, 22%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  background-color: var(--lightgray);
}

h1 {
    font-size: 1.9rem;
    color: var(--darkblue);
    text-align: center;
    padding: 25px;
}

p {
    font-size: 1.3rem;
    color: var(--grayishblue);
    text-align: center;
    padding: 25px;
}

.card {
    background-color: var(--white);
    max-width: 400px;
    margin: 50px auto;
    border-radius: 30px;
    min-height: 600px;
}

img {
    max-width: 100%;
    padding: 20px;
    border-radius: 30px;
}


@media only screen and (max-width: 23.4375em) {
  /* Mobile: 375px - CSS rules here */
  img {
    margin: 10px;
  }
}

@media only screen and (min-width: 70em) {
  /* Desktop: 1440px - CSS rules here */
  .card {
    margin: 80px auto;
}
}
